body {
  background-color: #141414;
  color: white;
}

.movie-row img {
  width: 100%;
  border-radius: 5px;
}
.movie-category {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
}
.footer-links a {
  color: #808080;
  text-decoration: none;
  font-size: 0.9rem;
}
.footer-links a:hover {
  text-decoration: underline;
}
footer .col {
  color: #808080;
}
#footer-socials {
  color: #808080;
}
footer p {
  color: #808080;
}
